# Ignore directories
/classifications/
.vscode/
/.chainlit/
/dicom/
/LLaVa/ 
/notebooks/
/vector_db/
/joao_mata/
/pdfs/
/dicoms/

# Ignore Python cache files
**/__pycache__/

# Ignore specific file
chainlit.md
scripts\TestingRetrieval.py



scripts/TestingRetrieval.py
lalala.py
scripts/appRAG.py
scripts/ClassificationWriter.py
scripts/EmbeddingFunctions.py
scripts/chroma_db_multilingual/chroma.sqlite3
